@media print {
    
    body {
        background:white;
        color:#000;
        margin:0;
    }    
    header{
        display:none !important;
    }
    .span6.colright{
        display:none !important;
    }    
    footer{
        display:none !important;
    }    
    .content-wrapper{
        display:block;
    }
}
