body {
	margin: 0px;
	padding: 0px;
	background: #fff;
	font: 90% verdana, helvetica, sans-serif;
	text-align: center;
}
table.header {
	width: 765px;
	text-align: left;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
table.footer {
	width: 765px;
	text-align: left;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
table.layout {
	width: 765px;
	background-color: #fff;
	border: 1px solid #999;
	color:#333;
	text-align: left;
}
form {
	margin-bottom: 0;
}
ul {
	margin-top: 2px;
	margin-bottom: 2px;
	list-style-image: url(images/arrow-bullet.gif);
	margin-left: 25px;
	padding-left: 0px;
}
li {
	padding-left: -20px;
	margin-top: 10px;
	margin-bottom: 10px;
/*	replace this font with the associated font from print style sheet	
	font:80%/130% verdana, helvetica, sans-serif; */
	font: 10pt verdana, helvetica, sans-serif;
}
li p {
	padding-left: -20px;
	margin-top: 10px;
	margin-bottom: 10px;
/*	replace this font with the associated font from print style sheet	
	font:80%/130% verdana, helvetica, sans-serif; */
	font: 10pt verdana, helvetica, sans-serif;
}

li.news {
	padding-left: -20px;
/*	replace this font with the associated font from print style sheet	
	font:80%/130% verdana, helvetica, sans-serif; */
	font: 10pt verdana, helvetica, sans-serif;
}
ul ul {
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: url(images/arrow-bullet2.gif);
	margin-left: 25px;
	padding-left: 0px;
}
.sitenav {
	float: left;
	text-align: left;
/*	font: 70% verdana, helvetica, sans-serif; */
	font: 75% verdana, helvetica, sans-serif;
}
.contactus {
	float: right;
	text-align: right;
	/*	replace this font with the associated font from print style sheet	
	font: 70% verdana, helvetica, sans-serif;*/
	font: 75% verdana, helvetica, sans-serif;
}
#official {
	text-align: right;
	font: 75% verdana, helvetica, sans-serif;
	font-weight: bold;
	color: #6E818B;
	margin-bottom: 10px;
	margin-top: 0px;
}
#sitesearch {
	float: right;
	width: auto;
}

/*

From print style sheet
h2 {
	font: bold 12pt Georgia, "Times New Roman", Times, serif;
	color: #333;
	margin-bottom: 7px;
	padding: 0px;
	background: transparent;
}


*/
/*
Existing styles as of 2009-07-14
h1 {
	margin: 0px;
	margin-left: 10px;
	font: bold 110%/110% Arial, Helvetica, sans-serif;
	color: #CB9C4E;
}

h2 {
	font: bold 90%/95% Georgia, "Times New Roman", Times, serif;
	color: #333;
	margin: 7px 0px 3px 10px;
	padding: 0px;
}
h2.inbox {
	font: bold 90%/95% Georgia, "Times New Roman", Times, serif;
	color: #333;
	margin:0px 0px 0px 0px;
	padding:0px;
}

*/

h1 {
	margin: 0px;
	margin-left: 10px;
	font: bold 135%/145% Georgia, "Times New Roman", Times, serif;
	color: #CB9C4E;
}


h2 {
	font: bold 100%/105% Georgia, "Times New Roman", Times, serif;
	color: #98691A;
	margin: 7px 0px 3px 10px;
	padding: 0px;
}
h2.inbox {
	font: bold 100%/105% Georgia, "Times New Roman", Times, serif;
	color: #98691A;
	margin:0px 0px 0px 0px;
	padding:0px;
}
h3 {
	font: bold 90%/95% Georgia, "Times New Roman", Times, serif;
	color: #333;
	margin: 7px 0px 3px 10px;
	padding: 0px;
}
h4 {
	font: bold 90%/95% verdana, helvetica, sans-serif;
	color: #333;
	margin: 7px 0px 3px 10px;
	padding:0px;
}
h5 {
	font: bold 80%/85% verdana, helvetica, sans-serif;
	color: #333;
	margin:0px;
	padding:0px;
}
h6 {
	font: bold 90%/95% verdana, helvetica, sans-serif;
	color: #333;
	margin:0px;
	padding:0px;
}
p {
	font: 10pt verdana, helvetica, sans-serif;
/*	font:80%/130% verdana, helvetica, sans-serif;  */
	text-align: left;
	margin: 0px;
	padding: 10px 10px 10px 10px;
}
p.homeblurb {
	font:80%/130% verdana, helvetica, sans-serif; 

	/*font: 70%/140% verdana, helvetica, sans-serif;*/
	text-align: left;
	margin: 0px;
	padding: 10px 10px 10px 10px;
}
a {
	color: #036;
	font-family: verdana, helvetica, sans-serif;
	text-decoration: underline;
}
a:link {
	color: #036;
	text-decoration: underline;
}
a:visited {
	color: #036;
	text-decoration: underline;
}
a:hover {
	color: #333;
	text-decoration: underline;
	background: #DDE6EB;
}
a.menu {
	color: #036;
	font-family: verdana, helvetica, sans-serif;
	font-weight:600;
	text-decoration: underline;
}
a.menu:link {
	color: #036;
	text-decoration: underline;
}
a.menu:visited {
	color: #036;
	text-decoration: underline;
}
a.menu:hover {
	color: #333;
	text-decoration: underline;
	background: #DDE6EB;
}
a#skip {
	position: absolute;
	top:-100px;
}
.command-text {
	font-family: "Courier New", Courier, mono;
	font-size: 100%;
	font-weight: bold;
	color: #666;
}
.box {
	float: right;
	width: 35%;
	border: 2px dashed #6E818B;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #EAEFF2;
}
hr.dashed {
	border: none 0; 
	border-top: 2px dashed #6E818B;/*the border*/
	width: 100%;
	height: 2px;/*whatever the total width of the border-top and border-bottom equal*/
} 
#gold-top {
	background: #CB9C4E;
	height: 4px;
	width: 100%;
	line-height: 1px;
    font-size: 1px;/*these two lines override a default in IE*/
} 
#gold-bottom {
	background: #CB9C4E;
	clear: left;
	height: 4px;
	width: 100%;
	line-height: 1px;
    font-size: 1px;/*these two lines override a default in IE*/
}
#white-bottom {
	background: #FFFFFF;
	clear: left;
	height: 4px;
	width: 100%;
	line-height: 1px;
    font-size: 1px;/*these two lines override a default in IE*/
} 
div.gray {
	background: #6E818B;
	height: 8px;
	width: 100%;
	line-height: 1px;
    font-size: 1px;/*these two lines override a default in IE*/
} 
.pdf {
	font: 75% verdana, helvetica, sans-serif;
}
.selected {
	font: verdana, helvetica, sans-serif;
	color: #036;
	font-weight:600;
}
.redtext {
	color: #900;
}
#breadcrumb-top {
	float: left;
	margin-top: 0px;
	font: 75% verdana, helvetica, sans-serif;

/*	font: 70% verdana, helvetica, sans-serif; */
}
#breadcrumb-bottom {
	clear: both;
	float: left;
	margin-top: 0px;
	padding-bottom: 0px;
	font: 75% verdana, helvetica, sans-serif;

/*	font: 70% verdana, helvetica, sans-serif; */
}
#content {
	margin-top: 10px;
	margin-bottom: 20px;
}.row {
	font-family: Arial, Helvetica, sans-serif;
}
.redtext  {
	color:#990000;
	font-weight: bold;
	}
.searchtext {
	
		margin: 7px 0px 3px 0px;
}
/* external links */
a.ar-more,
a.ar-more-gray,
a.ar-back,
a.ar-back-gray {
background-color:transparent;
background-image:url(../../img-std/loc_sprite_ss.png);
background-repeat:no-repeat;
background-position: 0 0;
}
a.ar-more,
a.ar-more-gray {
padding: 0 8px 0 0 ;
}
a.ar-back,
a.ar-back-gray {
padding: 0 0 0 8px ;
}
a.ar-more {background-position: 100% -27px;}
a.ar-more:hover, 
a.ar-more:focus {background-position: 100% -43px;}

a.ar-more-gray {background-position: 100% -59px;}
a.ar-more-gray:hover, 
a.ar-more-gray:focus {background-position: 100% -59px;}

a.ar-back {background-position: 0 -75px;}
a.ar-back:hover, 
a.ar-back:focus {background-position: 0 -91px;}

a.ar-back-gray {background-position: 0 -107px;}
a.ar-back-gray:hover, 
a.ar-back-gray:focus {background-position: 0 -107px;}

a.enlarge,
a.newwindow,
a.perma,
a.print,
a.podcast,
a.podcast2,
a.rss,
a.video,
a.video2,
a.audio,
a.audio2,
a.pag-list,
a.pag-gallery,
a.pag-grid,
a.pag-slide {
padding: 0 0 0 16px;
background-repeat: no-repeat;
background-position: 0 0;
background-color:transparent;
background-image:url(../../img-std/loc_sprite_ss.png);
}
a.ico_right {
padding: 0 16px 0 0;
}
a.enlarge {background-position: -1px -127px;}
a.enlarge:hover,
a.enlarge:focus {background-position: -1px -143px;}
a.enlarge.ico_right {background-position: 100% -127px;}
a.enlarge.ico_right:hover, 
a.enlarge.ico_right:focus {background-position: 100% -143px;}

a.newwindow {background-position: -1px -158px;}
a.newwindow:hover, 
a.newwindow:focus {background-position: -1px -174px;}
a.newwindow.ico_right {background-position: 100% -158px;}
a.newwindow.ico_right:hover, 
a.newwindow.ico_right:focus {background-position: 100% -174px;}

a.perma {background-position: -1px -223px;}
a.perma:hover, 
a.perma:focus {background-position: -1px -239px;}
a.perma.ico_right {background-position: 100% -223px;}
a.perma.ico_right:hover, 
a.perma.ico_right:focus {background-position: 100% -239px;}

a.print {background-position: -1px -190px;}
a.print:hover, 
a.print:focus {background-position: -1px -206px;}
a.print.ico_right {background-position: 100% -190px;}
a.print.ico_right:hover, 
a.print.ico_right:focus {background-position: 100% -206px;}

a.podcast {background-position: -1px -318px;}
a.podcast:hover,
a.podcast:focus {background-position: -1px -350px;}
a.podcast.ico_right {background-position: 100% -318px;}
a.podcast.ico_right:hover,
a.podcast.ico_right:focus {background-position: 100% -350px;}

a.podcast2 {background-position: -1px -334px;}
a.podcast2:hover,
a.podcast2:focus {background-position: -1px -350px;}
a.podcast2.ico_right {background-position: 100% -334px;}
a.podcast2.ico_right:hover,
a.podcast2.ico_right:focus {background-position: 100% -350px;}

a.rss {background-position: -2px -366px;}
a.rss:hover,
a.rss:focus {background-position: -2px -382px;}
a.rss.ico_right {background-position: 100% -366px;}
a.rss.ico_right:hover,
a.rss.ico_right:focus {background-position: 100% -382px;}

a.video {background-position: -2px -397px;}
a.video:hover,
a.video:focus {background-position: -2px -429px;}
a.video.ico_right {background-position: 100% -397px;}
a.video.ico_right:hover,
a.video.ico_right:focus {background-position: 100% -429px;}

a.video2 {background-position: -2px -413px;}
a.video2:hover,
a.video2:focus {background-position: -2px -429px;}
a.video2.ico_right {background-position: 100% -413px;}
a.video2.ico_right:hover,
a.video2.ico_right:focus {background-position: 100% -429px;}

a.audio {background-position: -2px -446px;}
a.audio:hover,
a.audio:focus {background-position: -2px -478px;}
a.audio.ico_right {background-position: 100% -446px;}
a.audio.ico_right:hover,
a.audio.ico_right:focus {background-position: 100% -478px;}

a.audio2 {background-position: -2px -462px;}
a.audio2:hover,
a.audio2:focus {background-position: -2px -478px;}
a.audio2.ico_right {background-position: 100% -462px;}
a.audio2.ico_right:hover,
a.audio2.ico_right:focus {background-position: 100% -478px;}

a.pag-gallery {background-position: -2px -495px;}
a.pag-gallery:hover,
a.pag-gallery:focus {background-position: -2px -511px;}
a.pag-gallery.pag-selected,
a.pag-gallery.pag-selected:hover,
a.pag-gallery.pag-selected:focus {background-position: -2px -527px;color:#666;text-decoration:none;cursor:text;}

a.pag-grid {background-position: -2px -543px;}
a.pag-grid:hover,
a.pag-grid:focus {background-position: -2px -559px;}
a.pag-grid.pag-selected,
a.pag-grid.pag-selected:hover,
a.pag-grid.pag-selected:focus {background-position: -2px -575px;color:#666;text-decoration:none;cursor:text;}

a.pag-list {background-position: -2px -591px;}
a.pag-list:hover,
a.pag-list:focus {background-position: -2px -607px;}
a.pag-list.pag-selected,
a.pag-list.pag-selected:hover,
a.pag-list.pag-selected:focus {background-position: -2px -623px;color:#666;text-decoration:none;cursor:text;}

a.pag-slide {background-position: -2px -639px;}
a.pag-slide:hover,
a.pag-slide:focus {background-position: -2px -655px;}
a.pag-slide.pag-selected,
a.pag-slide.pag-selected:hover,
a.pag-slide.pag-selected:focus {background-position: -2px -671px;color:#666;text-decoration:none;cursor:text;}

.backtotop {
clear: both;
text-align: right;
}
.backtotop a {
padding: 0 0 0 12px ;
background: transparent url(../../img-std/loc_sprite_ss.png) -3px -285px no-repeat;
}
.backtotop a:hover,
.backtotop a:focus {
background-position: -3px -301px;
}

a.gray:link,
a.gray:visited {
color: #666;
text-decoration: underline;
}
a.gray:focus,
a.gray:hover,
a.gray:active {
color: #333;
text-decoration: underline;
}
a.white:link,
a.white:visited {
color: #fff;
text-decoration: underline;
}
a.white:focus,
a.white:hover,
a.white:active {
color: #ccc;
text-decoration: underline;
}
/* external links */
a.external {
background: transparent url(../../img-std/loc_sprite_ss.png) 100% 4px no-repeat;
padding: 0 10px 0 0;
}
a.external:hover, 
a.external:focus {background-position: 100% -12px;}
a.external span {
display:none;
} 