@charset "utf-8";
/***************specific styles*************/

/********************
left nav - Publishers Top Level Page
********************/
#left_nav .leftnavimg {
background: transparent url(https://www.loc.gov/publish/general/images/books-stamp.jpg) 0 0 no-repeat;
}

/* custom width */
#col2_left.custom {width:375px;}
#col2_right.custom {width:290px;}
#col4_equal.custom {width:25%;}

div.item {
    clear: left;
    margin: 20px 0;
    min-height: 67px;
}
div.item img, img.thumbnail {
    border: 1px solid #CCCCCC;
    padding: 2px;
}
div.dot-bot {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;
	margin-bottom: 10px;
}