/* Historic Baseball Resources Leftnav and SubPage CSS rules*/
#content #left_nav_top {
	width: 197px;
	height: 50px;
	margin: 0px 0px 11px 0px;
	border: 0;
	text-align:left;
	padding: 0;
}
#content #left_nav_mid {
	width: 196px;
	height: auto;
	margin: 0px 0px 10px 0px;
	border: 0;
	text-align:left;
	padding: 50px 0 10px 0;
	background: transparent url(../images/logo_support.gif) 0px 0px no-repeat;
	border: 1px solid #ccc;
}
#content #left_nav_mid h2 {
	color: #690;
	background: transparent url(../../images/dots.gif) bottom left no-repeat;
}
#content #left_nav_mid p {
	font: normal 90%/120% verdana, helvetica, sans-serif;
	padding: 2px 5px 2px 15px; 
	margin: 1px 0px 1px 0px;
}
#left_nav ul#browse {
	border-top: 0;
	background-color: #fefef2;
}
#left_nav_mid ul li, #left_nav_mid ul#browse li {
	list-style-type: none;
	display:block;
	font: normal 90%/120% verdana, helvetica, sans-serif;
	background: transparent url(../../images/arrow_o.gif) no-repeat 0px 5px;
	padding: 2px 5px 2px 15px; 
	margin: 1px 0px 1px 0px;
}
#left_nav_mid ul#browse li {
	background: transparent url(../../images/arrow_ch.gif) no-repeat 0px 5px;
}

/*  end left nav rules  */
/* content rules */
#main_body {
	width: 524px;
	margin: 0;
	padding: 0;
	border: 1px solid #d4e9ff;
}
#main_body #theVideo {padding: 10px 0 10px 10px;}

#main_nav1, #main_nav2, #main_navresults {
	width: auto;
	margin: 0;
	padding: 10px 5px 10px 15px;
	height: auto;
	border-bottom: 1px solid #d4e9ff;
	background-color: #eff6fd;
	font: normal 85%/120% Verdana, Arial, Helvetica, sans-serif;
	color: #666;
}

#main_nav2 {
	background-color: #f7fafd;
}
#main_navresults {
	color: #333;
}
#main_nav1 h2 {
	color: #900;
	font-size: 130%;
}
#main_nav1 a {
	font: bold 95%/120% Verdana, Arial, Helvetica, sans-serif;
}
#main_body h2 {
	margin: 0px;
	padding: 10px 10px 5px 10px;
	font: bold 100%/120% Georgia, "Times New Roman", Times, serif;
	color: #36c;
}
h2.first {
	padding: 0px 10px 5px 10px;
}
#main_body h3 {
	padding: 5px 10px 5px 10px;
	margin: 5px 0 0 0;
	font: bold 85%/105% Georgia, "Times New Roman", Times, serif;
	color: #000;
	font-size: medium;
}
#main_body p {
	padding: 7px 15px 7px 10px;
	margin: 0;
	font: normal 85%/120% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	font-size: small;
}
#main_body p.caption {
	color: #666;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 10px;
}
#main_body ul {
	padding: 0px 10px 10px 0px;
	margin: 10px 0 0 0;
}
#main_body ul li {
 list-style-type: none;
 display: block; 
 margin: 0px 0px 0px 10px;
 padding: 3px 10px 3px 10px;
 background: transparent url(../../images/gt.gif) no-repeat 0px 6px;
 font: normal 85%/130% Verdana, Arial, Helvetica, sans-serif;
}
#main_body form ul li {
 padding: 3px 10px 3px 10px;
 font: normal 95%/130% Verdana, Arial, Helvetica, sans-serif;
}
div.features, div.details {
	height: 40px;
	padding: 0px 0px 0px 0px;
	margin: 0px 2px 10px 0px;
}
div.featured {
	height: auto;/*100px*/
	padding: 0px 0px 0px 0px;
	/*margin: 10em 2px 1em 0px;
	clear:both;
	overflow:hidden; */
}
/*div.featured p { margin: 2px 0 0 185px;clear:right;}*/
#main_body div.featured p { 
    margin: 2px 0 0 204px; 
	clear:right; 
	padding:0px 0px 10px 0px;
}

div.featured img {
	float: left;
	margin: 0px 10px 0 10px;
	padding: 2px;
	border: 0;
	/*clear:left;*/
}

div.featured img.main {
	float: left;
	margin: 5px 10px 0 10px;
	padding: 2px;
	border: 0;
	/*clear:left;*/
}

div.padded {
	padding: 0 0 0 15px; 
/* text-align: center; */
	
	}
div.details {
	height: auto; /*115px;*/
}
div.features img, div.details img {
	float: left;
	margin: 0 10px 0 0;
	padding: 2px;
	border: 1px solid #900;  /* */
}
div.features p img {
    border: 0;
}
div.details img {
	border: 0;
}
div.details h3, div.details p {
	margin: 0;
	padding: 0;
}
#main_body ul li ul, #main_body ul li ol, #main_body ul li ol {
	padding: 0px 10px 10px 0px;
	margin: 0;
}
#main_body ul li ul li {
	margin: 0px 0px 0px 5px;
	padding: 0px 10px 3px 5px;
	list-style-type: none;
	background: transparent url(https://www.loc.gov/images/bullet.gif) no-repeat 0px 6px;
	font: bold 100%/130% Verdana, Arial, Helvetica, sans-serif;
}
#main_body ul li ol li {
	margin: 0px 0px 0px 5px;
	padding: 0px  10px 3px 15px;
	list-style-type: decimal;
	background: transparent;
	font: normal 100%/130% Verdana, Arial, Helvetica, sans-serif;
}
#main_body ol {
	margin: 10px 10px 0px 10px;
	padding: 0px 0px 10px 20px;
	font-size: medium;
}
#main_body ol li {
	margin: 0 0 0 5px;
	padding: 3px 0px 3px 0px;
	font: normal 85%/130% Verdana, Arial, Helvetica, sans-serif;
}
#main_body li p {
	padding: 5px 5px 3px 0px;
	font-size: 100%;
}
#main_body ol li ul {
	padding: 10px 10px 10px 0px;
	margin: 0 0 0 0px;
}
#main_body ol li ul li {
    list-style-type: none;
	display: block; 
	margin: 0px 0px 0px 5px;
	padding: 0px  0px 3px 15px;
	background: transparent url(../../images/gt.gif) no-repeat 0px 6px;
	font: normal 100%/150% Verdana, Arial, Helvetica, sans-serif;
}
blockquote {
	font: normal 85%/120% verdana, helvetica, sans-serif;
}
#main_body form, #main_body form.public {
	margin: 0 0 10px 10px;
	padding: 0;
	height: auto;
	width:auto;
	font: normal 95%/100% verdana, helvetica, sans-serif;
}

#main_body form input, #main_body form select, main_body form.public input, #main_body form.public select {
	width: 355px;
	height: auto;
	background-color: #fff;
	color: #333;
	border: 1px solid #ccc;
	margin: 5px 0px 5px 0px;
	font: normal 100%/100% verdana, helvetica, sans-serif;
}
#main_body form span, #main_body form.public span {
	font: bold 100% verdana, helvetica, sans-serif;
	color: #900;
}
#main_body form p, #main_body form.public p {
	font: normal 90% verdana, helvetica, sans-serif;
	padding: 5px 20px 10px 0px;
}
#main_body form textarea, #main_body form.public textarea {
	width: 250px;
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 5px 0px 0px 0px;
	font: normal 100%/100% verdana, helvetica, sans-serif;
}
#main_body form input.radio, #main_body form input.check, #main_body form.public input.radio, #main_body form.public input.check {
	width: auto;
	background-color: #fff;
	font-weight: normal;
	color:#333;
	border: 0;
	margin: 5px 0px 0px 0px;
	padding: 0;
	font-size: 100%;
}
#main_body form label, #main_body form.public label {
	padding: 0;
	font: normal 105% verdana, helvetica, sans-serif;
	margin: 0;
}
#main_body form label span, #main_body form.public label span {
	color: #000;
	font-size: 100%;
	font-weight: 100;
}
#main_body form input.button, #main_body form input.submit, #main_body form.public input.button, #main_body form.public input.submit, #main_body form.public input.clear {
	width: auto;
	background-color: #fff;
	font-weight: 900;
	font: bold 100%/100% Verdana, Arial, Helvetica, sans-serif;
	color: #f60;
	margin: 5px 0px 5px 0px;
	text-align: left;
	padding: 0;
	border: 1px solid #f60;
}
#main_body form.public h2 {
	margin: 0px;
	padding: 10px 10px 5px 0px;
	font: bold 100%/120% Georgia, "Times New Roman", Times, serif;
	color: #36c;
}
#main_body form.public h3 {
	padding: 5px 10px 5px 0px;
	margin: 5px 0 0 0;
	font: bold 95%/105% Georgia, "Times New Roman", Times, serif;
	color: #000;
}
#main_body form.public ul {
	padding: 0px 10px 10px 0px;
	margin: 10px 0 0 0;
}
#main_body form.public ul li {
	list-style-type: none;
	display: block; 
	margin: 0px 0px 0px 10px;
	padding: 0px  10px 3px 10px;
	background: transparent url(../../images/gt.gif) no-repeat 0px 6px;
	font: normal 90%/105% Verdana, Arial, Helvetica, sans-serif;
}
#main_body form.public table {
	width: 95%;
	height: auto;
	/*margin: 10px;
	border-collapse: collapse;*/
	margin: 10px 0px 10px 0px;
	border: none;
	/* border: 1px solid #ccc; */
	font: normal 90% verdana, helvetica, sans-serif;
	text-align:left;
	padding: 0;
}
#main_body form.public table th {
	width: auto;
	height: auto;
	font: bold 90% verdana, helvetica, sans-serif;
	border: none;
	/* border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc; */
	background-color: #f7f7f7;
	color: #333;
	text-align:left;
	padding: 5px;
}
#main_body form.public table td {
    border: none;
	width: auto;
	height: auto;
	font: normal 90% verdana, helvetica, sans-serif;
	/*border-left: 1px solid #ccc; */
	/*border-bottom: 1px solid #ccc; */
	color: #666;
	text-align: left;
	vertical-align: top;
	padding: 3px 5px 3px 5px;
}
/*classes*/
#main_body img.content {
	margin: 5px 10px 5px 10px;
	border: 5px solid #d4e9ff;
	float:right;
}
#main_body img.border {
	margin: 5px 10px 5px 10px;
	border: 5px solid #d4e9ff;
}
#main_body img.borderleft, #main_body img.noborderleft {
	margin: 5px 10px 5px 10px;
	border: 5px solid #d4e9ff;
	float: left;
}
#main_body img.noborderleft {
	border: 0;
}
#main_body ul.feature {
	padding: 0px 10px 10px 0px;
	margin: 10px 0 0 280px;
}
#main_body img.thumb {
	margin: 5px 10px 5px 10px;
	border: 0;
	float: left;
}
#main_body h3.thumb {
	padding: 0px 10px 0px 10px;
	margin: 5px 0 0 0;
	font: bold 100%/105% Georgia, "Times New Roman", Times, serif;
	color: #000;
}
#main_body p.thumb {
	display: block;
	height: 100px;
	padding: 2px 15px 5px 0px;
	margin: 0;
	font: normal 85%/120% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
#main_body img.icon {
	margin: 5px 10px 5px 50px;
	border: 0;
	float: left;
}
#main_body p.icon a {
	padding: 2px 15px 5px 0px;
	display: block;
	height: 40px;
	font: normal 90%/120% Verdana, Arial, Helvetica, sans-serif;
}
#main_body div.bibentry {
	border-top: 1px solid #d4e9ff;
}
div.bado {
display:none;
}

.tdform {
   font-weight:bold;
   border-collapse:collapse;
   vertical-align:middle;
}
#introMovie {
	margin: 0px 2px 0px 0px;
	padding: 0;
	width: 235px;
	height: 210px;
	text-align: center;
	border: 0;
	float: right;
}
