/* Philanthropy Pages CSS rules */
#main_menu {
	width: auto;
	height: auto;
	margin: 0px 0px 0px 208px;
	font:90% verdana, helvetica, sans-serif;
	text-align:left;
	padding: 0px;
}
#main_menu #main_left {
	width:250px; /*324px*/
	height: auto;
	float: left;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border: 1px solid #fc0;

}
#main_menu #main_left #left_top {
	width: 250px;
	height: auto;
	float: left;
	margin: 0px 5px 10px 0px;
	padding: 0px 0px 10px 0px;
	border: 0;
}

#main_left #left_top p {
	font: normal 75%;
	color: #333;
	padding: 10px 10px 0 10px;
	margin: 0;
}
#main_left h2 {
	font: bold 95%/100% Georgia, "Times New Roman", Times, serif;
	color: #36c;
	margin: 0;
	padding: 10px 0px 12px 10px;
}
#main_left h2 span,#right_top h2 span, #right_mid h2 span, #right_bottom h2 span {
	color: #9c0;
}
#main_left a, #main_right a {
	font-size: 75%;
	margin: 0px;
	padding: 0px;
	font-weight: 100;
}
a#spot_link1, a#spot_link2, a#spot_link3, a#spot_link4, a#spot_link5 {
	font:bold 110% Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 5px 0px;
}
#left_mid {
    width:250px;
	margin: 0;
	padding: 10px 0px 10px 0px;
	background: transparent;
	color: #999;
	font-size: 90%;
	/* border: 1px solid #fc0; */
}
#main_left #left_mid h2 {
	clear: left;
	font: bold 110%/100% Georgia, "Times New Roman", Times, serif;
	color: #06c;
	margin: 0px 0px 5px 0px;
	padding: 10px 0px 5px 10px;
	border: 0px solid #fc0;
}
#main_left #left_mid h2.noborder {
	padding: 0px 0px 100px 10px;	
	border-top: 1px;
}
#main_left #left_mid h3 {
	font: bold 95%/100% Georgia, "Times New Roman", Times, serif;
	color: #333;
	margin: 0px 0px 5px 0px;
	padding: 10px 0px 10px 10px;
}
#left_top p, #left_mid p {
	font: normal 85%/120% verdana, helvetica, sans-serif;
	color: #000;
	padding: 0px 10px 10px 10px;
	margin: 0 0 0 80px;

}
#left_top p a, #left_mid p a {
	font: normal 90%/110% verdana, helvetica, sans-serif;
	color: #333;
}
#left_mid p img {
	border: 0;
	margin: 0;
}
#left_mid img {
	border: 0;
	margin: 0px 5px 10px 10px;
}
#left_top ul, #left_mid ul {
	/*border-top: 0px dotted #ccc;*/
	padding: 0px 0px 0px 10px;
	margin: 0px 2px 10px 10px;
}
#left_mid ul li {
	list-style-type: none;
	font: normal 90%/110% verdana, helvetica, sans-serif;
	color: #000000;
	background: transparent url(../../images/arrow.gif) no-repeat 0px 5px;
	padding: 0px 5px 2px 15px; 
	margin: 7px 0px 0px 0px;
}

#left_top ul li {
	list-style-type: none;
	color: #000000;
	background: transparent url(../../images/arrow.gif) no-repeat 0px 5px;
	padding: 2px 5px 2px 15px;
	margin: 0;
    font: 15px/11px verdana, helvetica, sans-serif; 
}



#left_mid form {
	width: 250px;
	height: auto;
	margin: 0 0 10px 0;
	padding: 0;
}
#left_mid form input.button {
	background-color: #fff;
	width:auto;
	color: #f60;
	font: bold 90%/100% verdana, helvetica, sans-serif;
	margin: 5px 0 0 10px;
	padding: 0;
	border: 1px solid #f60;
}
#left_mid form label {
	padding: 0 0 0 10px;
	font: bold 95%/100% verdana, helvetica, sans-serif;
	margin: 0;
	color: #333;
}
#left_mid form input, #left_mid form select {
	width: 250px;
	padding: 0;
	margin: 5px 0 5px 10px;
	font: normal 110%/100% verdana, helvetica, sans-serif;
	background-color: #fff;
	border: 1px solid #999;
}
#main_right {
	width: 250px;
	height: auto;
	font-size: 90%;
	margin: 0px 0px 10px 475px; /*337px*/
	border: 1px solid #9cf;
	padding: 0px 0px 10px 0px;
}
#right_top, #right_mid, #right_bottom {
	margin: 0;
	padding: 0px 0px 5px 0px;
	color: #999;
	font-size: 100%;
}
.thumbnail {
	border: 0px solid #333;
	float: left;
	margin-right: 5px;
}

#right_top h2, #right_mid h2, #right_bottom h2 {
	font: bold 110%/100% Georgia, "Times New Roman", Times, serif;
	color: #06c;
	margin: 0;
	padding: 10px 0px 12px 10px;
	/* border-top: 1px solid #9cf; */
	background: transparent url(https://www.loc.gov/topics/baseball/images/dots_right.jpg) bottom left no-repeat;
}
#right_top h2.noborder, #right_mid h2.noborder, #right_bottom h2.noborder  {
	border-top: 0;
}
#right_top h2 span, #right_mid h2 span, #right_bottom h2 span {
	color: #0cf;
}
#main_right h3 {
	margin: 0;
	padding: 5px 5px 0px 10px;
	color: #333;
	font: bold 100%/100% Georgia, "Times New Roman", Times, serif;
}
#main_right p {
	margin: 0;
	padding: 5px 5px 7px 10px;
	color: #333;
    font: normal 85%/120% verdana, helvetica, sans-serif;
}
#main_right p a {
	font: bold 100%/100% verdana, helvetica, sans-serif;
	padding: 5px 0 0 0;
}
#right_mid p a {line-height: 15px;}

#right_top ul, #right_mid ul, #right_bottom ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 10px 10px;
	font: normal 90%/110% verdana, helvetica, sans-serif;
}
#right_top ul li, #right_mid ul li, #right_bottom ul li  {
	list-style-type: none;
	display: block; 
	padding: 0px 2px 0px 10px; 
	background: transparent url(../../images/gt.gif) no-repeat 0px 5px;
	margin: 7px 0px 0px 0px;
	font: normal 90%/110% verdana, helvetica, sans-serif;
	color: #666;
}

#right_top ul li a:link, #right_top ul li a:hover, #right_top ul li a:visited, #right_mid ul li a:link, #right_mid ul li a:hover, #right_mid ul li a:visited, #right_bottom ul li a:link,#right_bottom ul li a:hover, #right_bottom ul li a:visited {
	font: normal 100%/140% verdana, helvetica, sans-serif;
}
#right_bottom form#sub_cat {
	width: 186px;
	height: auto;
	margin: 0px 0px 10px 5px;
	font: normal 130%/100% verdana, helvetica, sans-serif;
	padding: 0px 0px 0px 0px;
}
#right_bottom form#sub_cat input.button {
	background-color: #fff;
	width:auto;
	color: #f60;
	font: bold 75%/100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 1px solid #f60;
}
#right_bottom form#sub_cat input {
	width: 120px;
	padding: 0;
	margin: 0 0 0 5px;
	font-size: 90%;
	background-color: #fff;
	border: 1px solid #999;
}
#right_bottom ul.email {
	margin: 0;
	padding: 0;
	background-color: #fff;
	border-bottom: 0;
	border-top: 0;
}
#right_bottom ul.email li {
	list-style-type: none;
	display: block; 
	height: auto;
	padding: 0px 0px 0px 10px; 
	background: transparent url(../../images/gt.gif) no-repeat 0px 5px;
	margin: 0px 0px 0px 10px;
	font: normal 90%/130% Verdana, Arial, Helvetica, sans-serif;
}
#right_bottom ul.email li a:link, #left_nav_mid ul.email li a:visited {
	font: normal 120%/110% verdana, helvetica, sans-serif;
}
#announce p {
	padding: 0px 15px 25px 10px;
	margin: 0;
	font: normal 80%/120% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
#announce p.red {
	color:#f00;
	padding: 0px 15px 5px 10px;
}
.imgpadd {
		height=60px;
	width= 70px;
	padding-bottom:80px;
}

/* Rules to allow large thumbnail images */
#left_mid p.bulletin {
	text-align:center;
	margin:0;
}
#left_mid p.bulletin img {
	float: none;
}
/* end of content rules   */
