.largecap {font-size: 16pt; ; font-family: Georgia, "Times New Roman", Times, serif; font-weight: bold; color: #993300}

.image-left {
	width: 235px; 
	float: left; 
	margin: 0px 10px 10px 5px; 
	clear: both;
}
.image-left-wide {
	width: 383px; 
	float: left; 
	margin: 0px 10px 0px 5px; 
	clear: both;
}

.caption {
  font-size: 10pt;   
  float: none; /* <-- IMPORTANT! */
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

.highlight {  background-color: #FFFF99;}

.feature {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; }
