body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;

}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
}
dd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;
	margin-left: 10pt;


}
dt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000066;

}
.larger {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
}
.caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-align: center;

}
a.white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #EEEEEE;
	text-decoration: none;
}
a.white:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration: underline;
}
.white-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #EEEEEE;
}
.drop-box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #990000;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: #006699;
}
.largecap {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #990000;
}
.darkred-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #990000;
}
address {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
.selected {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #990000;
}
.burg-bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000066;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: bold;
	color: #666666;
}
.name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #006633;
}

li {
	line-height: 20px;
	margin-left: -20px;
}
.indexletter {
	font-size: 16pt;
	color: #666666;

}
.indented {
	text-indent: 30px;
}
h4 {
	font-weight: bold;
	color: #006699;
	font-size: 11pt;

}
ul {
	list-style-type: square;
	margin-top: 0;
	margin-bottom: 0;
}
.ML-text {
	font-size: 11pt;

}
.ML-smaller {
	font-size: 9pt;
}
.ML-black {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10pt;



}
.ML-years {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	text-align: center;

}
.new {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: italic;
	color: #FF0000;
	font-weight: normal;

}
.background-blue {
	background-image: url(images/spacer-blue.gif);
	background-color: #3366cc;
}
.background-ltgray {
	background-image: url(images/spacer-ltgray.gif);
	background-color: #eeeeee;
}.navig-left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	vertical-align: top;
	white-space: normal;

}
.soon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #FF0000;
	font-style: italic;
	font-weight: bold;

}
.links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.profile-date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
}